<template>
  <b-container class="app__container">
    <b-row>
      <b-col>
        <h2>Home</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <p>Pin: <strong>{{ pin }}</strong></p>
        <switches
          theme="bootstrap"
          color="warning"
          v-model="enabled"
          text-enabled="LED is on"
          text-disabled="LED is off"
          type-bold="true"
          ></switches>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Switches from 'vue-switches'
import { connect } from 'mqtt'

export default {
  name: 'home',
  components: {
    Switches,
  },
  data: () => {
    return {
      enabled: false,
      pin: 18,
    }
  },
  mounted: function() {
    const protocol = process.env.VUE_APP_MQTT_PROTOCOL
    const host = process.env.VUE_APP_MQTT_HOST
    const port = process.env.VUE_APP_MQTT_PORT
    const options = {
      username: process.env.VUE_APP_MQTT_USERNAME,
      password: process.env.VUE_APP_MQTT_PASSWORD,
    }

    let client = connect(`${protocol}://${host}:${port}/ws`, options)
    client.on('connect', () => {
      client.subscribe('/kiotsystem/led/18')
    })

    client.on('message', (topic, message) => {
      const state = JSON.parse(message.toString())
      this.enabled = state.value
      this.pin = state.pin
    })
  },
}
</script>

<style scoped>
  .app__container {
    padding-top: 30px;
  }
</style>
